.navbar-default {
	background-color: rgb(94, 94, 94) !important;
}

.navbar-nav>.active>a,.navbar-nav>.active>a:hover {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(70, 50, 101);
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	background-color: rgb(70, 70, 70) !important;
}

.title {
	color: rgb(230, 230, 230) !important;
}

.open>a {
	background-color: rgb(77, 77, 77) !important;
}

.left {
    width: 200px;
    background-color: rgb(240, 240, 240);
}

#top {
    margin-bottom: 0px !important;
    height: auto%;
    height: 51px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px !important;
}

.main {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    height: 100%;
    padding-top: 51px;
    position: absolute;
    top: 0;
}

.file-label, .file-buttons {
    display: inline;
}

.file-label {
    
}

.file-label, .file-checkbox {
    float: left;
}

.file-buttons {
    float: right;
    display: none;
}

.left-menu {
    padding-top: 10px;
    height: 100%;
}

.mouse-on-tr .file-buttons {
    display: flex !important;
}

.file-buttons button {
    margin-right: 5px;
}

.left-menu>li.active>a, .left-menu>li.active>a:hover, .left-menu>li.active>a:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(200, 200, 200);
}

.left-menu a {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.left-menu>li>a {
    color: rgb(0, 0, 0);
}

.left-menu>li>a:hover, .left-menu>li>a:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 220, 220);
}

.controller {
    height: 40px;
    background-color: rgb(240, 240, 240);
    padding: 5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.left {
    float: left;
    height: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.right {
    width: 100%;
    height: 100%;
    padding-left: 200px;
    background-color: rgba(255, 255, 255, 1);
}

.icon-button {
    cursor: pointer;
}

.filelist>table>tbody>tr>td:first-child {
    width: 70%;
}

.filelist {
    overflow: auto;
    padding-top: 40px;
    margin-top: -40px;
    height: 100%;
    margin-top: -40px;
}

.file-list-table tr {
    margin-left: 10px;
}

#drop-area input {
    display: none;
}

.upload-form {
    float: left;
}

.file-list-table {
    margin-bottom: 0px !important;
}

.file-list-table .tr-selected {
    background-color: rgb(245, 245, 245);
}

.icon {
    margin-left: 10px;
    margin-right: 5px;
}

.file-list-table tr a, a:visited {
    color: rgb(95, 95, 95);
}

.guide-link {
    color: rgb(95, 95, 95);
}

.guide-title {
    margin-left: 10px;
}

.list-title {
    margin-left: 10px;
    float: left;
}

.file-checkbox-all {
    float: left;
}

.list-title .selected {
    display: none;
}

#uploader {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 400px;
    left: auto;
    top: auto;
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.5);
    border: 0px none;
    top: auto;
}

#uploader thead {
    display: block;
}

#uploader tbody {
    display: block;
    overflow: auto;
    height: 300px;
}

#uploader-header {
    display: inline;
    height: auto;
    overflow: auto;
    zoom: 1;
    z-index: 100;
}

#uploader-header-title {
    padding: 5px;
    margin: 5px;
    display: block;
    z-index: 100;
    left: 0px;
}

#uploader-header-control {
    padding: 5px;
    margin: 5px;
    display: block;
    right: 0px;
    left: auto;
    position: absolute;
    top: 0;
    z-index: 100;
}

#uploader-content {
    height: 100%;
    top: 0px;
    position: absolute;
    margin-top: 0px;
    padding-top: 35px;
    width: 100%;
    z-index: 99;
}

#uploader-content table {
    overflow: scroll;
}

#uploader-header-control span {
    margin-left: 10px;
}

.upload-filelist-name div {
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
}

.upload-filelist-size div {
    width: 90px;
}

.upload-filelist-folder div {
    width: 80px;
}

.upload-filelist-progress div {
    width: 55px;
}

.upload-filelist-button div {
    width: 75px;
}

.uploader-min #uploader-content {
    display: none !important;
}

.uploader-min {
    height: auto !important;
}

.file-buttons a {
    background-color: rgb(221, 221, 221);
    margin-right: 5px;
}

.file-buttons button {
    background-color: rgb(221, 221, 221);
}

.list-control {
    float: left;
    margin-left: 20px;
    display: none;
}