.info {
    width: 70%;
    margin: auto;
}

.footer {
    color: rgb(153, 153, 153);
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}

body {
    font-family: Verdana, Geneva, "Microsoft YaHei", sans-serif;
}

#message {
    width: 55%;
    padding: 0 30 0 10;
    margin: 0px auto 20px;
}


html {
    background-image: radial-gradient(center, rgb(245, 245, 245), rgb(245, 245, 245)) !important;
    background-image: radial-gradient(at center center, rgb(245, 245, 245), rgb(245, 245, 245)) !important;
    background-color: rgb(245, 245, 245) !important;
}