.info {
    width: 70%;
    margin: auto;
}

.footer {
    color: rgb(153, 153, 153);
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}

body {
    font-family: Verdana, Geneva, "Microsoft YaHei", sans-serif;
}

#message {
    width: 55%;
    padding: 0 30 0 10;
    margin: 0px auto 20px;
}

html {
    background-image: radial-gradient(center, rgb(245, 245, 245), rgb(245, 245, 245)) !important;
    background-image: radial-gradient(at center center, rgb(245, 245, 245), rgb(245, 245, 245)) !important;
    background-color: rgb(245, 245, 245) !important;
}

.register-form {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    padding: 3px 60px 60px 20px;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-radius: 4 4 4 4;
    box-shadow: none;
    border-style: solid;
}

a#regist-weibo, a#regist-qq {
    color: white;
}

a#regist-weibo:visited, a#regist-qq:visited {
    color: white;
}

.login-form {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    padding: 3px 60px 60px 20px;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-radius: 4 4 4 4;
    box-shadow: none;
    border-style: solid;
}

.info {
    width: 70%;
    margin: auto;
}

.footer {
    margin-top: 160px;
}

a#regist-weibo, a#regist-qq {
    color: white;
}

a#regist-weibo:visited, a#regist-qq:visited {
    color: white;
}

ul#fileList li {
    padding: 7px !important;
    height: 36px !important;
}

ul#fileList li .thumb {
    display: none;
}

ul#fileList li .name {
    left: 0px !important;
}

/* anoUpload.jsp */


#result-area {
    margin-top: 10px;
}

.modal-body {
    height: 240px;
}

#fetch-confirm {
    margin-top: 5px;
    margin-bottom: 10px;
}

.path {
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
}